* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 800px;
    height: 800px;
}

.box {
    border: 1px solid #ccc;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.reset {
    margin-bottom: 30px;
    padding: 10px 15px;
    background-color: firebrick;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}